<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ManHarFoot !</title>
    </head>
    <body>
        <h1>ManHarFoot</h1>
        
        <p>
           <h3>Footballeur</h3>

          <div class="well">
           {{ form(form) }}
          </div>
        </p>
    </body>
</html>
