{% extends '::bas.html.twig' %}
{% block body %}



 <p  style="color:Blue;">  <span style="font-size:30px;">A propos : </span>   
<p/>

 <br> 
  <i  style="font-weight:bold;">  
        <p>Mankouri Jalil & Harvel Andy - 4A ESIEA PARIS 2015</p>

</i>
 </br>

{% endblock %}
 
